[submodule "gh-repo-rename-teresa"]
	path = gh-repo-rename-teresa
	url = git@github.com:ULL-ESIT-DMSI-1920/gh-repo-rename-teresa.git
[submodule "gh-rename-teresa-Bonet"]
	path = gh-rename-teresa-Bonet
	url = https://github.com/ULL-ESIT-DMSI-1920/gh-rename-teresa-Bonet
[submodule "gh-repo-rename-graph-teresa-bonet"]
	path = gh-repo-rename-graph-teresa-bonet
	url = https://github.com/TeresaUll/gh-repo-rename-graph-teresa-bonet
[submodule "gh-teresa-repo-rename"]
	path = gh-teresa-repo-rename
	url = https://github.com/ULL-ESIT-DMSI-1920/gh-teresa-repo-rename
